* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html {
  /* beskytter mod at siden er bredere ens den tilgængelige skærmplads */
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  margin-top: 116px;
}

body {
  background-color: #f9f2f2;
  background-image: url("../img/striber.svg");
  background-size: 50%;
  /* Sikrer at striber gentager sig lodret */
  background-repeat: repeat-y;
}

.se-mere {
  justify-content: center;
  padding: 20px; /* Indre afstand */
  background-color: #1b72d0; /* Hvid baggrund */
  font-family: orbitron;
  color: #f9f2f2; /* Sort tekstfarve */
  font-size: 12px;
  width: 250px;
  text-decoration: none; /* Fjerner understregning */
  font-weight: normal; /* Fremhævet tekst */
  text-align: center; /* Centrerer teksten */
  transition: background-color 0.3s, color 0.3s; /* Animation ved hover */
}

.se-mere:hover {
  background-color: #1457a0; /* Hvid baggrund */
  color: #f9f2f2; /* Hvid tekst ved hover */
}

.se_mere_knap {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex; /* Aktiverer Flexbox */
  justify-content: center; /* Centrerer horisontalt */
  align-items: center; /* Centrerer vertikalt */
}

.prod_section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Responsivt antal kolonner */
  width: 100%;
}
.header_img img {
  max-width: 100%;
}

.size {
  font-family: poppins;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #f9f2f2;
}

/* Container til dropdown */
.dropdown-container {
  position: relative;
  width: 250px;
}

/* Dropdown-styling */
select {
  width: 100%;
  font-size: 16px; /* Størrelsen på teksten */
  padding: 10px; /* Afstand inde i dropdown */
  border: 1px solid color #3c3636;
  border-radius: 4px;
  appearance: none; /* Fjern standard-styling på dropdown */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: #3c3636;
  color: #f9f2f2;
}

/* Pseudo-element for pil i højre side */
.dropdown-container::after {
  content: "▲"; /* Pil i dropdown */
  font-size: 10px;
  color: #f9f2f2;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(180deg); /* Vend pilen opad */
  pointer-events: none; /* Sørg for, at pilen ikke interagerer */
}

/* Når dropdown er åbnet */
select:focus + .dropdown-container::after {
  transform: translateY(-50%) rotate(0deg); /* Vend pilen nedad */
}

/* Styling af dropdown-optioner */
select option {
  font-size: 14px;
  padding: 10px;
  color: #f9f2f2;
}

@media (min-width: 768px) {
  .prod_section {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Responsivt antal kolonner */
    gap: 2px; /* Afstand mellem kortene */
  }
}
