---
import Navigation from "../components/Navigation.astro";
import Tjenester from "../components/Tjenester.astro";
import Kategorier from "../components/Kategorier.astro";
import Herosection from "../components/Herosection.astro";
import Footer from "../components/Footer.astro";
import Livesalg from "../components/Livesalg.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <title>Smykkeskrinet</title>
  </head>
  <body>
    <header>
      <!-- <Striber /> -->
      <Navigation />
    </header>
    <main>
      <Herosection />

      <Livesalg />
      <Kategorier />
      <Tjenester />
      <section class="SoMe">
        <h1>FØLG MED PÅ VORES SOCIALE MEDIER</h1>
        <div>
        <a href="https://www.instagram.com/smykkeskrinet_bornholm/" target="blank">
          <img src="../img/instagram_grey.svg" alt="instagram" class="ikoner" />
        </a>
        <a href="https://www.facebook.com/smykkeskrinetbornholm" target="blank">
          <img src="../img/facebook_grey.svg" alt="facebook" class="ikoner" />
        </a>
        <a href="https://www.tiktok.com/@smykkeskrinet7/video/7449370729193278742?_r=1&_t=8sICQ8Hsipi" target="blank">
          <img src="../img/tiktok.svg" alt="tiktok" class="ikoner" />
        </a>
      </div>
        <section class="grid3">
        <div>
          <img src="../img/Story-livesalg.webp" alt="facebook" />
        </div>
        <div>
          <img src="../img/Story-smykker.webp" alt="facebook" />
        </div>
        <div>
          <img src="../img/Story-smykker1.webp" alt="facebook" />
        </div>
      </section>
      </section>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>

  h1{
    font-size: 35px;
    margin: 0;
    font-family: orbitron;
    color: #1b72d0;
  }

  .ikoner{
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 768px) {
  .ikoner {
    width: 5%;
  }
}
</style>