---
import Navigation from "../components/Navigation.astro";
import Tjenester from "../components/Tjenester.astro";
import Kategorier from "../components/Kategorier.astro";
import Herosection from "../components/Herosection.astro";
import Footer from "../components/Footer.astro";
import Livesalg from "../components/Livesalg.astro";
import Striber from "../components/Striber.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <!-- <Striber /> -->
      <div>
        <Navigation />
      </div>
    </header>
    <main>
      <Herosection />
      <Livesalg />
      <br />
      <Kategorier />
      <Tjenester />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
