---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Filterbar from "../components/Filterbar.astro";
import "../styles/style.css";

const type = "necklace";

const data = await fetch(`https://uzaqfwgbruvllvdlpabq.supabase.co/rest/v1/Smykker?produkt=eq.${type}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6YXFmd2dicnV2bGx2ZGxwYWJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMzOTMyNjgsImV4cCI6MjA0ODk2OTI2OH0.RBngwuyg62kGxohOAq847cclytJ9kdChHAHwghgCW0g",
  },
}).then((res) => res.json());
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
</head>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <title>Smykkeskrinet - Halskæder</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>

    <main>
      <section class="grid2">
        <div class="text">
          <h1>HALSKÆDER</h1>
          <p>Se vores udvalg af halskæder fra nogle af Danmarks mest anerkendte smykkemærker.</p>
          <br />
          <p>Gå på opdagelse i vores udvalg og find dit næste par favoritter!</p>
        </div>
        <div class="header_img">
          <img src="../img/necklace1.webp" alt="hero" />
        </div>
      </section>
      <Filterbar />

      <div class="prod_section">
        {
          data.map((product) => {
            return <Card {product} />;
          })
        }
      </div>
    </main>
    <div class="knap"><a href="" class="se-mere">SE MERE</a></div>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
<style>
  .prod_section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Responsivt antal kolonner */
    width: 100%;
  }
  .header_img img {
    max-width: 100%;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f9f2f2; /* Baggrundsfarve */
  }

  p {
    font-family: poppins;
    font-size: 14px;
  }

  .se-mere {
   justify-content: center;
    padding: 20px; /* Indre afstand */
    background-color: #1b72d0; /* Hvid baggrund */
    font-family: orbitron;
    color: #F9F2F2; /* Sort tekstfarve */
    font-size: 12px;
    width: 250px;
    text-decoration: none; /* Fjerner understregning */
    font-weight: normal; /* Fremhævet tekst */
    text-align: center; /* Centrerer teksten */
    transition: background-color 0.3s, color 0.3s; /* Animation ved hover */
  }

  .se-mere:hover {
    background-color: #1457A0; /* Hvid baggrund */
    color: #F9F2F2; /* Hvid tekst ved hover */
  }

.knap{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex; /* Aktiverer Flexbox */
  justify-content: center; /* Centrerer horisontalt */
  align-items: center; /* Centrerer vertikalt */
}

  h1 {
    font-family: Orbitron, sans-serif;
    color: #1b72d0;
    font-size: 50px;
    line-height: 2;
  }

  .text {
    margin: 1rem;
    color: #3c3636;
  }

  /*DESKTOP*/
  @media (min-width: 768px) {
    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #f9f2f2; /* Baggrundsfarve */
    }

    img {
      width: 100%;
    }

    p {
      font-family: poppins;
      font-size: 15px;
    }

    h1 {
      font-family: Orbitron, sans-serif;
      color: #1b72d0;
      font-size: 50px;
      line-height: 2;
    }
    .text {
      margin: 2rem;
      max-width: 550px;
      color: #3c3636;
    }

    .prod_section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsivt antal kolonner */
      gap: 2px; /* Afstand mellem kortene */
    }
  }
</style>
