---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Striber from "../components/Striber.astro";
import "../styles/style.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Om os</title>
  </head>
  <body>
    <header>
    <!-- <Striber /> -->
  <div>
    <Navigation />
  </div>
    </header>


    <div class="rightbox">
    <img src="../img/personale.webp" alt="hero" class="personale"/>
</div>


<div class="leftbox">
<h2>om os</h2>
<p>Sussie Nielsen er indehaver af Smykkeskrinet, som åbnede på Rønnes gågade i 2012.

    Efter at Sussie kom i lære hos en Guldsmedbutik i 1986, var hun helt solgt, selvom perler og ædelsten altid har ligget i hendes DNA. 
    
    Sussie var ikke i tvivl om, at hendes elskede forretning skulle hedde “Smykkeskrinet”, da man i et smykkeskrin kan få alt hvad smykke-hjertet begærer. Indeholdet i et smykkeskrin matcher med indholdet i butikken.
    
    Sussie Nielsen har snart 40-års jubilæum i smykkebranchen, men branden og passionen for at følge med trends og få sin forretning til at vokse er mindst lige så stor i dag.
    
    </p>
</div>

<div class="rightbox">
    <img src="../img/sussie.webp" alt="hero" class="sussie"/>
</div>

<div class="leftbox1">
    <h3>“FRA VUGGE TIL GRAV”</h3>
    <h4>Hos os her i smykkeskrinet er kunden altid nummer 1, og vi elsker at hjælpe vores kunder med at få løst i problem.

        Vi bestræber os efter at have alt hvad kunden har brug for uanset
        alder, køn og livssituation. Vi har alt fra dåbsgaver til forlovelsesringe til krondiamantbryllupsgaver til begravelsesdekorationer. Vi tilbyder også at få skudt huller i ørene, og få indgraveret personlige hilser på ønsket smykke.
         
        Vi sælger kun ægte smykker her i Smykkeskrinet. Alt andet kan vi ikke stå inde for! 
    </h4>
    </div>

<div class="rightbox">
    <img src="../img/butik.webp" alt="hero" class="sussie"/>
</div>

<div class="leftbox">
    <h2>FIND OS HER</h2>
    <div><img src="../img/pin.png" alt="pin">
    </div>
    <div><p>Find os på St. Torvegade 2 i Rønne, hvor vi altid vil stå klar til at hjælpe dig!</p></div>
    <p>Hold dig opdateret på Smykkeskrinets sociale medier</p>

    <div class="ikoner">
        <img src="../img/facebook_pink.svg" alt="facebook" >
        <img src="../img/instagram_pink.svg" alt="instagram" />
    </div>

    <footer>
        <Footer />
      </footer>
    </body>
  </html>

  <style>
h2{color: #1B72D0;}
p{color: #1B72D0;}
h3 {color: #F9F2F2;}
h4{color: #F9F2F2;}

.leftbox1{background-color: #3C3636;}

  </style>