---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<body>
    <header>
    <!-- <Striber /> -->
  <div>
    <Navigation />
  </div>
    </header>
<main>
    <h1>Single view</h1>

</main>
    <footer>
        <Footer />
    </footer>
  </body>