---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import Tjenester_into from "../components/Tjenester_into.astro";
import Footer from "../components/Footer.astro";
---

<body>
  <header>
    <!-- <Striber /> -->
    <div>
      <Navigation />
    </div>
  </header>
  <main>
    <Tjenester_into />
  </main>
  <footer>
    <Footer />
  </footer>
</body>
