---
const { href, label } = Astro.props;
---

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

<a href={href} class="se-mere">
  {label}
</a>

<style>
  .se-mere {
    display: block; /* Gør knappen til en blok */
    width: 100%; /* Fylder hele bredden */
    padding: 12px 0; /* Indre afstand */
    background-color: #F9F2F2; /* Hvid baggrund */
    font-family: orbitron;
    color: #3C3636; /* Sort tekstfarve */
    font-size: 13px;
    text-decoration: none; /* Fjerner understregning */
    border-top: 1px solid #3C3636; /* Skillelinje over knappen */
    font-weight: bold; /* Fremhævet tekst */
    text-align: center; /* Centrerer teksten */
    transition: background-color 0.3s, color 0.3s; /* Animation ved hover */
  }

  .se-mere:hover {
    background-color: #007bff; /* Blå baggrund ved hover */
    color: #F9F2F2; /* Hvid tekst ved hover */
  }
</style>
