---
const { data, imgPath, cardName, cardText, variant, cardClass, cardTextOne, cardTextTwo, cardTextThree } = Astro.props;
import Button from "../components/Button.astro";
console.log(data);


---
<article>
 <div>
<img src={imgPath} alt="Kunstnerbild" height="460" width="430"/>
<h3>
   {}
 </h3>
 <p>{cardName}</p>
 <Button variant={variant}>Read more</Button>
</div>
</article>


<style>


@media screen and (max-width: 768px) {
    
}


   
</style>