---
const { navn, brand, pris } = Astro.props;
// console.log(data);
---

<article>
  <div data-variant="cardClass">
    <!-- <img src={imgPath} alt="Kunstnerbild" height="460" width="430" /> -->
    <h3>
      {navn}
    </h3>
    <p>{brand}</p>
    <p>{pris}</p>
    <br />
  </div>
</article>

<style>
  .h3 {
    color: rgb(0, 0, 0);
    width: 390px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: white;
  }

  [data-variant="black"] {
    color: rgb(255, 255, 255);
    width: 390px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: black;
  }

  li {
    list-style-type: none;
  }

  @media screen and (max-width: 768px) {
    li {
      max-width: 200px;
    }
  }
</style>
