---
const { navn, brand, pris, billede } = Astro.props;
import Button from "../components/Button.astro";
// console.log(data);
---

<article>
  <div>
    <img src={billede} alt="billede" height="460" width="430" />
    <h3>
      {navn}
    </h3>
    <p>{brand}</p>
    <p>{pris}</p>
    <br />
  </div>
  <a href="singleview">
    <Button label="Se mere" />
  </a>
</article>

<style>
  article {
    /* width: 300px;  */
    margin: 2rem;
    border: 1px solid #3c3636; /* Tynder grænse */
    overflow: hidden; /* Skjuler overløb */
    background-color: #f9f9f9; /* Baggrundsfarve */
  }

  article img {
    width: 100%; /* Billede fylder hele bredden */
    height: auto; /* Bevarer billedets proportioner */
  }

  article div {
    padding: 16px; /* Indrykning indenfor boksen */
  }

  article h3 {
    font-size: 1.2rem;
    text-align: start;
    font-weight: bold; /* Fremhæver navnet */
    font-family: orbitron;
    color: #3c3636;
  }

  article p {
    text-align: start;
    color: #3c3636;
    font-family: poppins;
  }

  article p:last-of-type {
    color: #007bff; /* Blå tekstfarve til pris */
    font-weight: bold; /* Fremhævet pris */
    font-family: orbitron;
  }

  @media screen and (max-width: 768px) {
    li {
      max-width: 200px;
    }
  }
</style>
