---

---

<div class="action-bar">
    <button class="filter-button">
      Filter
      <span class="filter-icon">☰</span>
    </button>
    <div class="spacer"></div>
    <div class="sort-dropdown">
      <button class="sort-button" id="sort-toggle">
        Sorter
        <span class="sort-icon">▲</span>
      </button>
      <ul class="dropdown-menu" id="sort-menu">
        <li>Fremhævet</li>
        <li>Bestsellere</li>
        <li>Alfabetisk, A–Å</li>
        <li>Alfabetisk, Å–A</li>
        <li>Pris, lav til høj</li>
        <li>Pris, høj til lav</li>
        <li>Dato, ældre til nyere</li>
        <li>Dato, nyere til ældre</li>
      </ul>
    </div>
  </div>
  