---

---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
</head>

<div class="herosection">
  <div class="hero_content">
    <h1>SMYKKESKRINET</h1>
    <img src="../img/shopnu_normal.svg" alt="hero" class="shopnu_knap" />
  </div>

  <div class="hero_imgs">
    <div class="img-hero1">
      <a href="">
        <img src="../img/forsidebillede.png" alt="hero1" />
      </a>
    </div>

    <div class="img-hero2">
      <a href="">
        <img src="../img/Hero2.webp" alt="hero2" />
      </a>
    </div>
  </div>
</div>

<style>
  /*Fjerner det ene billede i mobilversion */
  .img-hero1 {
    display: none;
  }
  .herosection {
    display: flex;
    flex-direction: column; /* Stack elementer lodret som standard */
    position: relative;
    overflow: hidden;
  }

  .hero_content {
    position: relative;
    z-index: 1; /* Sørger for, at tekst og knap er oven på billederne */
    text-align: center;
  }

  .herosection h1 {
    color: #1b72d0;
    font-family: orbitron;
    font-size: 2.6rem;
    margin: 0;
  }

  .shopnu_knap {
    width: 30%;
    margin-top: 10%;
  }

  .hero_imgs {
    display: flex;
    flex-direction: column; /* Stak billederne lodret på mobil */
    width: 100%;
  }

  .img-hero1 img,
  .img-hero2 img {
    display: flex;
    width: 100%; /* Sørg for, at billederne fylder deres grid-celler */
    height: auto;
    object-fit: cover; /* Tilpas billedet uden at forvrænge det */
  }

  /*DESKTOP*/
  @media (min-width: 700px) {
    /*viser begger billeder*/
    .hero_content {
      position: absolute;
      top: 20%; /* Centrerer vertikalt */
      left: 20%; /* Centrerer horisontalt */
    }
    .hero_imgs {
      display: flex; /* Sørger for, at billederne placeres side om side */
      flex-direction: row; /* På desktop skal billederne ligge ved siden af hinanden */
      width: 100%;
    }
    .img-hero1,
    .img-hero2 {
      display: block; /* Sørger for, at billederne bliver synlige */
      flex: 1; /* Sørger for, at begge billeder fylder lige meget */
      max-width: 50%; /* Sikrer, at billederne ikke overskrider halvdelen af pladsen */
    }

    .img-hero1 img,
    .img-hero2 img {
      width: 100%; /* Billederne fylder hele bredden af deres container */
      height: auto; /* Holder proportioner */
      object-fit: cover; /* Bevarer billedformat uden forvrængning */
    }

    .herosection h1 {
      font-size: 6rem;
      top: 15%;
      margin-top: 8%;
    }

    .shopnu_knap {
      width: 190px;
      top: 60%;
    }
  }
</style>
