---

---

<section class="herosection_background">
    <h1>SMYKKESKRINET</h1>
    <div>
        <a href="">
        <img src="../img/shopnu_normal.svg" alt="hero" class="shopnu_knap"/>
    </a>
    </div>
    </section>
    
    <style>
    
    .herosection_background{
        background-image: url("../img/ringe2.webp");
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    h1{
        font-size: 42px;
        color: #1B72D0;
        padding-top: 5rem;
        text-align: center;
    }
    
    .shopnu_knap{
        justify-content: center;
        padding-top: 5rem;
        padding-left: 10rem;
        padding-bottom: 5rem;
        width: 70%;
    }
    
    .shopnu_knap: :hover{
        
    }
    
    </style>