---

---
<section class="big_container">
<section class="container">
    <div>
        <a href="">
        <img src="../img/earrings3.webp" alt="hero" class="kategori"/>
    </a>
    </div>
    <div>
        <a href="">
        <img src="../img/bracelet.webp" alt="hero" class="kategori"/>
    </a>
    </div>
    </section>
    <section class="container">
        <div>
            <a href="">
            <img src="../img/necklace.webp" alt="hero" class="kategori"/>
        </a>
        </div>
        <div>
            <a href="">
            <img src="../img/ringe.webp" alt="hero" class="kategori"/>
        </a>
        </div>
        </section>
    </section>

    <style>

.kategori{
    width: 100%;
}

.big_container{
    margin-top: 3rem;
}

.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
    </style>