---

---

<section>
    <div>
        <a href="">
        <img src="../img/earrings3.webp" alt="hero" class="kategori"/>
    </a>
    </div>
    <div>
        <a href="">
        <img src="../img/earrings3.webp" alt="hero" class="kategori"/>
    </a>
    </div>
    </section>

    <style>

.kategori{
    width: 100%;
}

    </style>