---

---

<section class="livesalg">
    <h1>LIVE SALG</h1>
    <p>Følg med på vores Facebook hvor vi holder live salg HVER onsdag kl. 14</p>
    <div>
    <a href="">
        <img src="../img/facebook_grey.svg" alt="facebook" class="facebook"/>
    </a>
    <a href="">
    <p>Sæt en påmindelse her</p>
</a>
</div>
</section>

<style>

.livesalg{
    background-color: #F9F2F2;
    margin-top: 3rem;
}

h1{
font-size: 40px;
text-align: center;
padding-top: 3rem;
color: #1B72D0;
}

p{
    font-size: 18px;
text-align: center;
padding: 1rem;
color: #3C3636;
}

.facebook{
    justify-content: center;
        padding-top: 1.5rem;
        padding-left: 12rem;
        padding-bottom: 0.5rem;
        width: 60%;
}

</style>