---

---

<head>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
</head>

<section class="livesalg">
  <div class="desktop">
    <div>
    <h1>LIVE SALG</h1>
  </div>
    <div>
      <p>Følg med på vores Facebook hvor vi holder live salg HVER onsdag kl. 14</p>
    </div>
    <div>
      <div>
        <a href="">
          <img src="../img/facebook_grey.svg" alt="facebook" class="facebook" />
        </a>

        <a href="">
          <p>Sæt en påmindelse her</p>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .livesalg {
    background-color: #f9f2f2;
    margin-top: 3rem;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 4rem;
    font-family: orbitron;
    color: #1b72d0;
  }

  p {
    font-size: 18px;
    text-align: center;
    padding: 0.5rem;
    padding-bottom: 3rem;
    font-family: poppins, light;
    color: #3c3636;
  }

  .facebook {
    justify-content: center;
    padding-top: 1.5rem;
    padding-left: 12rem;
    padding-bottom: 0.5rem;
    width: 60%;
  }

  @media (min-width: 700px) {
    .desktop {
      display: flex;
    }
    .facebook_desktop {
      width: 10%;
    }
    .p_desktop {
      font-size: 20px;
      max-width: 75ch;
    }
    h1 {
      font-size: 60px;
      padding-bottom: 4rem;
      padding-top: 4rem;
      padding-left: 3rem;
    }
  }
</style>
