---

---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
</head>

<header class="header">
  <nav>
    <!-- Logo -->
    <a href="/"><img src="../img/logo.png" alt="logo" class="logodesk" /></a>

    <!-- Menu Button -->

    <!-- Ikoner -->

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <!-- Menu Links -->
    <!-- <ul class="menu">
      <li><a href="produktliste">SMYKKER</a></li>
      <li><a href="tjenester">TJENESTER</a></li>
      <li><a href="om-os">OM OS</a></li>
    </ul> -->

    <ul class="main_menu">
      <li class="dropdown">
        <label for="sub_menu-btn" class="menu-items">SMYKKER</label>
        <input class="menu-btn" type="checkbox" id="sub_menu-btn" />
        <ul class="dropdown-menu">
          <li><a href="list_earrings">Øreringe</a></li>
          <li><a href="list_necklaces">Halskæder</a></li>
          <li><a href="list_rings">Ringe</a></li>
          <li><a href="list_bracelets">Armbånd</a></li>
        </ul>
      </li>
      <li><a class="menu-items" href="tjenester">TJENESTER</a></li>
      <li><a class="menu-items" href="om-os">OM OS</a></li>
    </ul>

    <div class="icon_menu">
      <a href="#"><img src="../img/search.svg" alt="search" /></a>
      <a href="#"><img src="../img/shoppingbag.svg" alt="shopping bag" /></a>

      <label for="menu-btn"><span class="navicon"></span></label>
      <!-- span laver krydset og burgermenu ikoner. Label binder det sammen "menu_btn" som styrer at menuen kan foldes ud som bliver stylet i css'en længere nede -->
    </div>
  </nav>
</header>

<style>
  * ---------------------------- HEADER / BURGERMENU MOBIL VERSION---------------------------- */
/* Header styling */

.html {
    /* beskytter mod at siden er bredere ens den tilgængelige skærmplads */
    overflow-x: hidden;
    overflow-y: auto;
  }

  .header {
    width: 100%;
    background-color: #f9f2f2;
    background-image: url(../img/striber.svg);
    background-size: 50%;
    background-repeat: repeat-y;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  .logodesk {
    max-width: 35%;
    height: auto;
    /* padding-left: 10px;
    padding-top: 10px; */
  }

  .main_menu {
    display: none;
    background-color: #f9f2f2;
    list-style: none;
  }

  .dropdown li {
    list-style: none;
  }


  .icon_menu {
    display: flex;
    /* margin-left: 55%; */
    justify-content: space-between;
    max-width: 80px;
    flex-grow: 0.7;
    order: 3;
    align-items: center;
  }
  .icon_menu a img,
  .icon_menu label {
    max-width: 22px;
    height: auto;

    /* padding-right: 12px;
    padding-top: 2px; */
  }

  /* .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--primary);
  } */
  /* Links styling */
  .menu-items {
    font-family: orbitron;
    font-weight: 400;
    font-style: normal;
    background-color: #f9f2f2;
    color: #1b72d0;
    display: block;
    /* padding: 32px 32px 8px; */
    text-decoration: none;
    cursor: pointer;
  }

  .menu-items:hover {
    color: #3c3636;
    font-weight: bolder;
  }
  
  .dropdown-menu {
    display: none;
  }

  #sub_menu-btn:checked ~ .dropdown-menu {
    display: block;
  }
  .dropdown-menu li a {
    font-family: poppins;
    font-weight: 300;
    color: #3c3636;
    text-decoration: none;
    /* padding: 0 32px; */
  }

  .dropdown-menu li a:hover {
    font-family: poppins;
    list-style: none;
    color: #1b72d0;
    text-decoration: none;
   
  }
  
  /* Menu styling */

  .main_menu a:hover {
    /* font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal; */
  }

  /* .header .main_menu {
    clear: both;
    display: none;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  } */
  /* Menu icon styling */

  .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .navicon:before,
  .navicon:after {
    background: #000000;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .icon_menu .navicon:before {
    top: 5px;
  }

  .header .icon_menu .navicon:after {
    top: -5px;
  }

  .header .menu-btn {
    display: none;
  }

  #menu-btn:checked ~ .main_menu {
    display: flex;
    flex-direction: column;
    padding: 32px;
    position: fixed; /* positionerer efter hele skærmen */
    width: 100vw; /* VW fordi det knytter sig til hele skærmstørrelsen */
    left: 0;
    top: 88px;
    z-index: 9999;
    row-gap: 24px;
    height: 100vh;
  }
  /* funktion på de 3 streger til burgermenu */

  #menu-btn:checked ~ .icon_menu .navicon {
    background: transparent;
  }

  #menu-btn:checked ~ .icon_menu .navicon:before {
    transform: rotate(-45deg);
  }

  #menu-btn:checked ~ .icon_menu .navicon:after {
    transform: rotate(45deg);
  }

  #menu-btn:checked ~ .icon_menu:not(.steps) .navicon:before,
  #menu-btn:checked ~ .icon_menu:not(.steps) .navicon:after {
    top: 0;
  }

  /* ---------------------------- MENU DESKTOP---------------------------- */

  @media (min-width: 1024px) {
    header {
      width: 100%;
      /* background-color: #f9f2f2; */
      padding: 5px;
      position: sticky;
      top: 0; /* Sørger for at headeren bliver siddende øverst */
      z-index: 100; /* Sørger for, at headeren er ovenpå andet indhold */
    }

    .logodesk {
      max-width: 100%;
      height: auto;
      padding-left: 20px;
      padding-top: 10px;
    }

    .icon_menu a img {
      /* max-width: 20%; */
      /* height: auto; */
      /* display: inline-block; */
      /* float: right; */
      /* position: relative; */
    }

    nav img {
      max-width: 40%;
    }

    .dropdown-menu a {
      text-decoration: none;
      color: black;
      font-family: poppins;
      font-weight: 600;
      font-style: normal;
      font-size: 1rem;
      margin-bottom: 7px;
    }

    .streg1 {
      border: 2px solid var(--accent);
      margin-top: 1rem;
    }

    .streg2 {
      border: 1px solid var(--accent);
      margin-top: 0.3rem;
    }

    .header .menu {
      clear: none;
      max-height: none;
    }

    .icon_menu label {
      display: none;
    }

    /* Dropdown-menu styling */
    .dropdown-menu {
      position: absolute;
      top: 100%; /* Lige under hovedmenuen */
      left: -16px;
      /* background-color: #fff; */
      /* Baggrundsfarve */
      list-style: none;
      padding: 0;
      margin: 0;
      display: none; /* Skjult som standard */
      z-index: 10;
      min-width: 150px; /* Minimum bredde */
    }

    .main_menu,
    #menu-btn:checked ~ .main_menu {
      /* "unset" er ting der er i mobilversion som ikke skal bruges i desktop. Den skal ikke have  */
      position: unset; /* positionerer efter hele skærmen - unset fjerne tidligere værdier */
      width: unset;
      left: unset;
      top: unset;
      flex-direction: unset;
      z-index: unset;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 0.5;
      order: 3;
      background-color: unset;
      padding: unset;
    }

    /* laver en boks som kan skubbe til tingene. order bestemmer hvor den skal sidde og dermed hvad den rykker på */
    /* ´before´ laver pseudoelementet som bliver brugt til at skubbes rundt*/
    nav::before {
      content: ""; /* skal være der for at et before element virker */
      display: block;
      background-color: transparent; /* fik en farve så man kunne se den - gennemsigtig nu så man ikke kan se den men mellemrummet er der */
      height: 32px; /* gjorde at man kunne se boksen når man rykkede rundt indtil det passede */
      min-width: 28px; /* gjorde at man kunne se boksen når man rykkede rundt indtil det passede */
      flex-grow: 1;
      order: 1; /* bestemmer hvor pseudoelementet skal placeres - ændrer rækkefølgen */
    }
    .dropdown-menu li {
      text-align: left;
    }
    .header li a {
      background-color: transparent;
      padding: 0;
    }

    .dropdown-menu a {
      padding: 10px 15px;
      color: #000;
      display: block;
    }

    .dropdown-menu a:hover {
      background-color: #f4f4f4; /* Hover-effekt */
      /* color: #e34a6f; */
    }

    /* Vis dropdown ved hover */
    .main_menu .dropdown:hover .dropdown-menu {
      /* display: block;  */
      /* Gør dropdown synlig */
    }

    .main_menu .dropdown:hover .dropdown-menu {
      display: flex;
      position: absolute;
      background-color: #f9f2f2;
      font-family: poppins;
      z-index: 1000;

      padding: 16px;
      flex-direction: column;
      row-gap: 16px;
    }
    .main_menu .dropdown {
      position: relative;
      /* z-index: 1000; */
    }
  }
</style>
