---

---
<header class="header">
    <nav>
        <!-- Logo -->
        <a href="index.astro"><img src="../img/logo.png" alt="logo" class="logodesk" /></a>

        <!-- Ikoner -->
        <div class="icons-container">
            <a href="index.astro"><img src="../img/search.svg" alt="search" class="ikon" /></a>
            <a href="index.astro"><img src="../img/shoppingbag.svg" alt="shopping bag" class="ikon" /></a>
        </div>

        <!-- Menu Button -->
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <!-- Menu Links -->
        <ul class="menu">
            <li><a href="produktliste.astro">SMYKKER</a></li>
            <li><a href="tjenester.astro">TJENESTER</a></li>
            <li><a href="om-os.astro">OM OS</a></li>
        </ul>

</ul>

    </nav>
</header>



<style>
  * ---------------------------- HEADER / BURGERMENU MOBIL VERSION---------------------------- */
/* Header styling */
.header {
  background-color: var(--primary);
  width: 100%;
}

.logodesk{
    max-width: 13%;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--primary);
}
/* Links styling */
.header li a {
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
/* Menu styling */
.menu a:hover {
  font-family: "josefin-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #e34a6f;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
/* Menu icon styling */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
/* funktion på de 3 streger til burgermenu */

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* ---------------------------- MENU DESKTOP---------------------------- */

@media (min-width: 768px) {
  header {
    width: 100%;
    background-color: var(--primary);
    padding: 1.5rem;
  }

  .logodesk{
    max-width: 13%;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
}


  #logo_mobil {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    max-width: 40%;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .menu a {
    max-width: fit-content;
    transition: all 0.3s ease 0s;
    color: #000000;
  }

  .menu a:hover {
    color: var(--accent);
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #e34a6f;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .streg2 {
    border: 1px solid var(--accent);
    margin-top: 0.3rem;
  }

  .header .menu {
    clear: none;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
</style>
