---

---

<section>
    <div>
        <img src="../img/shopnu_normal.svg" alt="hero" class="shopnu_knap"/>
    </div>
    <div>
        <h1>TJENESTER</h1>
       <p>Hos os har du også mulighed for at få målt din ringstørrelse, få skudt huller i ørerne og få indgraveret dine smykker.
        Du kan se mere nedenfor</p>
    </div>
</section>