---

---

<section class="tjenester">
    <div>
        <h1>TJENESTER</h1>
        <img src="../img/piercing.webp" alt="hero"/>
    </div>
    <div>
       <p>Hos os har du også mulighed for at få målt din ringstørrelse, få skudt huller i ørerne og få indgraveret dine smykker.
        Du kan se mere nedenfor</p>
    </div>
</section>

<style>

.tjenester{
    background-color:#F9F2F2 ;
    margin-top: 3rem;
}

h1{
font-size: 40px;
text-align: center;
padding-top: 3rem;
color: #1B72D0;
}


img{
    width: 100%;
    padding: 3rem;
}

p{
    font-size: 18px;
text-align: center;
padding-bottom: 3rem;
padding-left: 2rem;
padding-right: 2rem;
color: #3C3636;
}

</style>