---

---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
</head>

<section class="tjenester">
  <h1>TJENESTER</h1>
  <div class="tjenester_desktop">
    <div class="tjeneste_img">
      <img src="../img/piercing.webp" alt="hero" />
    </div>

    <div class="tekst_og_knap">
      <div class="knap">
        <p>Hos os har du også mulighed for at få målt din ringstørrelse, få skudt huller i ørerne og få indgraveret dine smykker. Du kan se mere nedenfor</p>
        <a href="">
          <img src="../img/Se_mere_normal.svg" alt="hero" />
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  .tjenester {
    background-color: #f9f2f2;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center; /* Centrerer alle elementer vandret */
    justify-content: center; /* Centrerer alle elementer lodret */
    text-align: center; /* Sørg for at alt er centreret */
  }

  h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 3rem;
    margin: 0;
    font-family: orbitron;
    color: #1b72d0;
  }

  img {
    width: 100%;
    height: auto;
    padding: 2rem;
  }

  p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 2rem;
    color: #3c3636;
  }

  .knap {
    align-items: center; /* Centrerer lodret */
    width: 80%;
    padding-left: 5.5rem;
    transition: 0.2s ease;
  }

  @media (min-width: 700px) {
    .tjenester {
      background-color: transparent; /* Fjern baggrundsfarve på desktop */
    }
    .tjenester_desktop {
      display: flex; /* Gør containeren fleksibel, så børnene kan placeres side om side */
      justify-content: space-between; /* Fordel pladsen mellem billedet og tekst/knap */
    }
    .tekst_og_knap p {
      font-size: 20px;
      max-width: 75ch;
      text-align: left; /* Placer teksten til venstre */
    }

    h1 {
      font-size: 80px;
      text-align: center; /* Justér h1 til venstre */
      padding-left: 50%;
    }

    p {
      font-size: 20px;
      max-width: 75ch;
      text-align: left;
    }

    .knap {
      width: 30%;
    }
  }
</style>
